@import "../../styles/variables.scss";

.listContainer {
	@include flex-container(row, center, center);
	list-style-type: none;
	font-family: "Inter", sans-serif;
	font-size: 20px;

	// targetting all elements in .listContainer
	& > * {
		padding-inline: 1rem;
		min-width: 127px;
	}

	
}