@import '../../styles/variables.scss';
@mixin action-button($backgroundColor) {
	width: 100px;
	height: 40px;
	background: $backgroundColor;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.playButtonContainer {
	@include flex-container(row, center, center);
	@include action-button($primaryBtnBg);
}

.addItemButtonContainer {
	@include flex-container(row, center, center);
	@include action-button(#000);
}